@import url("style.css");

/*      Course.html     */

.courseNav{
    width: 80%;
    text-align: center;
    margin: auto;
    color: white;
}

.courseNav h1{
    font-size: 62px;
    margin: 10px 5px;
}

.gitLink:link, .gitLink:visited{
    color: rgb(156, 38, 130);
    text-decoration: none;
}

.course-col-nav{
    padding: 8px 4px;
}

.course-row{
    margin-top: 3%;
}
#main h1{
    font-size: 40px;
    margin: 0 10px;
}

.container-course{
    width: 80%;
    margin: auto;
    border: 4px rgb(156, 38, 130) solid;
    border-radius: 10px;
}

.part{
    color: white;
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fr, .ar{
    width: 48%;
}
.ar{
    text-align: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
table, th, td {
    color: white;
    border: 1px solid;
    border-collapse: collapse ;
}
th, td {
    width: 50px;
}

@media(max-width: 700px){
    .courseNav h1{
        font-size: 28px;
        margin: 20px 5px;
    }
    #main h1{
        font-size: 22px;
        margin: 0 8px;
    }
    .container-course{
        width: 90%;
        margin: auto;
    }
    .part{
        flex-direction: column;
    }
    .fr, .ar{
        width: 96%;
    }
}