@import url("style.css");

/*      Course.html     */

.course-nav{
    width: 95%;
    margin: auto;
    text-align: center;
    color: white;
}
.course-nav h1{
    font-size: 62px;
    margin: 5px;
    background: rgb(159,42,236);
    background: linear-gradient(344deg, rgba(159,42,236,1) 0%, rgba(179,34,123,1) 51%, rgba(223,25,211,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.chapters-nav{
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chapter-parts{
    width: 33%;
}
.chapter-parts > h3{
    text-align: left;
    margin-left: 10%;
    padding: 10px;
    transition:color .3s;
    transition:font-size .3s;
}
.chapter-parts > ul{
    margin-left: 20%;
    list-style:decimal;
    text-align: left;
    line-height: 1.5;
}
.chapter-parts > h3:hover{
    font-size: 20px;
    cursor: pointer;
    color: rgb(180, 77, 157);
}

.gitLink:link, .gitLink:visited{
    color: rgb(156, 38, 130);
    text-decoration: none;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}
.chapter-parts a{
    transition:font-size .3s;
}
.chapter-parts a:hover{
    font-size: 18px;
    color: rgb(180, 77, 157);
}


#main h1{
    font-size: 40px;
    margin: 0 10px;
}

.container-course{
    width: 95%;
    margin: auto;
}

.ch > h1{
    background: rgb(159,42,236);
    background: linear-gradient(344deg, rgba(159,42,236,1) 0%, rgba(179,34,123,1) 51%, rgba(223,25,211,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.part{
    color: white;
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.supPart{
    margin: auto;
    width: 90%;
}
.fr, .ar{
    width: 48%;
}
.fr>h3{
    text-align: left;
}
.ar>h3{
    text-align: right;
}
.ar{
    text-align: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
table, th, td {
    color: white;
    border: 2px solid;
    border-collapse: collapse ;
}
th, td {
    padding: 5px 12px;
    text-align: center;
}

.modal{
    width: 80%;
    margin: auto;
    background-color: #0c1133;
    color: white;
}
.modal::backdrop{
    background: rgb(0 0 0 / .75);
}

.qr{
    width: 100%;
    background: none;
    color: white;
}

.center-part{
    justify-content: center;
    gap: 10%;
}

.button{
    padding: 5px 12px;
    margin-left: 30%;
}
td>button{
    background: none;
    border: 0;
    width: 100%;
    height: 100%;
}

.bigLine{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}
.midLine{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}
.blueLine{
    border: 1px solid rgb(42, 120, 236);
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

@media(max-width: 700px){
    .course-nav h1{
        font-size: 34px;
        margin: 20px 5px;
    }
    .chapters-nav{
        flex-direction: column;
    }
    .chapter-parts{
        width: 100%;
    }
    .chapter-parts > ul{
        display: none;
    }
    .chapter-parts:hover ul{
        display: block;
    }
    #main h1{
        font-size: 22px;
        margin: 0 8px;
    }
    .container-course{
        width: 90%;
        margin: auto;
    }
    .part{
        flex-direction: column;
    }
    .fr, .ar{
        width: 96%;
    }

    .course-img{
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .center-part{
        column-gap: 20px;
    }

    .button{
        padding: 5px 12px;
        margin-left: 10%;
    }
    
}