body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(19, 26, 58, 0.5),rgba(12, 19, 51, 0.5)),url(../image/backgsimple.jpg);
    background-size: cover;
    background-position: center;
    /* position: relative; */
    color: white;
    font-size: 18px;
}

